.films
    &__item
        display: flex
        max-width: 700px
        margin: auto
        padding: 30px
        position: relative
        background: #fff
        box-shadow: 1px 4px 40px #fff888

        &:hover
            background: #f8faff

    &__image
        width: 180px
        margin-right: 20px
    &__right
        display: flex
        flex-direction: column
        justify-content: space-between
    &__name
        font-size: 30px
        color: #c43100
    &__description
        font-size: 20px
    &__rating
        font-size: 23px
        color: #560cd6
    &__select
        padding: 10px 30px
        border-radius: 30px
        max-width: 150px
        border: 1px solid gray
        background: #56bbd6
        outline: none
        cursor: pointer
        font-size: 13px
        font-weight: bold
        color: #462422
        box-shadow: 0px 3px 50px rgba(2, 201, 202, 0.5)
        transition: color, background 0.5s ease
        &:hover
            color: #56bbd6
            background: #462422
